.container{
    background-color: white;
    padding-top:  15px;
    padding-bottom: 15px;
}
.card{
    border-radius: 20px !important;
    background-image: linear-gradient(to right ,lightblue , lightblue);
    margin-bottom: 10px !important;
}
.card .img-box{
    display: flex;
    justify-content: center;
    height: 8em;
    margin: 30px auto 0 auto !important;
    object-fit: scale-down;
}

.card-body{
    padding-bottom: 0px !important;
    display: flex;
    flex-direction: column;
    line-height: 40px;
    align-items: center;
}
.col-sm-6{
    margin-top: 1em !important ;
}

.card-header{
    background-color: rgb(14, 177, 212) !important;
    color: black !important;
}

.card-img-top{
    padding: 20px !important;
    border-radius: 50px !important;
    width: 80%;
}